{% if orchestrator_choice == "EMR" %}
OrchestratorName: emr 
Region: us-east-1
ProjectName: emr-deployment-testing-re
Owner: Abhishek Nain
Environment: Testing

EmrReleaseLabel: emr-7.6.0
MainInstanceType: m5.xlarge
CoreInstanceType: m5.xlarge
CoreInstanceCount: 2

{% endif %}
